@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'YourFont';
  src: url('/fonts/YourFont.woff2') format('woff2');
  font-display: swap;
}


body {
  font-family: 'Urbanist', 'Arial', 'sans-serif';
  line-height: 1.5;
  font-weight: 400;
}

.ff_roboto {
  font-family: 'Roboto', 'sans-serif';
}

.ff_dm_sans {
  font-family: 'DM Sans', 'sans-serif';
}

.ff_urbanist {
  font-family: 'Urbanist', 'sans-serif';
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal Box */
.modal-box {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  position: relative;
  text-align: center;
  animation: scaleIn 0.3s ease;
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Action Button */
.modal-action {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #2563eb;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

/* Animation */
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



